db.driver=com.mysql.cj.jdbc.Driver
db.name={{ db_name }}
db.url=jdbc:mysql:///{{ db_name }}
db.user={{ db_user }}
db.password={{ db_password }}

test.db.driver=com.mysql.cj.jdbc.Driver
test.db.name={{ test_db_name }}
test.db.url=jdbc:mysql:///{{ test_db_name }}
test.db.user={{ db_user }}
test.db.password={{ db_password }}
