applicationType: default
defaultPackage: "{{ package_name }}"
testFramework: junit
sourceLanguage: kotlin
buildTool: gradle_kotlin
features: [ annotation-api, app-name, gradle, http-client, jackson-databind, jdbc-hikari, jooq, junit, kotlin, kotlin-application, kotlin-build, logback, micronaut-build, mysql, netty-server, readme, shade, test-resources, yaml ]
