package {{ package_name }}.pojos

import java.io.Serializable
import java.time.LocalDate

data class CustomerAndOrder(val customerName: String?,
                            val orderDate: LocalDate?) : Serializable
